.titleUser {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.showMain {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .showCard {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    .firstRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .title {
        font-size: 20px;
        font-weight: bold;
      }
      p {
        font-size: 18px;
      }
    }
    button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
